body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    text-align: center;
    margin: 0;
    padding: 0;
}

.payment-container {
    background-color: white;
    width: 80%;
    max-width: 800px;
    margin: 40px auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.payment-container h2 {
    color: #333;
}

.payment-container p {
    text-align: left;
    color: #555;
}

.payment-form {
    margin-top: 20px;
}

input[type=submit] {
    width: 100%;
    padding: 10px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type=submit]:hover {
    background-color: #0056b3;
}

.total-fee {
    font-size: 20px;
    font-weight: bold;
    color: #d9534f;
}

.payment-details {
    word-wrap: break-word; /* 当单词过长时进行换行 */
    max-width: 650px; /* 根据需要调整最大宽度 */
}

.back-button {
    width: 100%;
    padding: 10px 15px;
    background-color: #bdbdbd;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin-top: 20px;
}

.back-button:hover {
    background-color: #999999;
}
