body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

/* 重置HTML和body的默认边距和填充 */
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

/* 容器样式 */
.container {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.header {
    background-color: #007bff;
    color: white;
    padding: 20px;
    text-align: center;
}

.content {
    margin: 20px;
}

.user-info, .rental-records {
    background-color: white;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.rent-car-container {
    background-color: #007bff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    text-align: center;
}

.user-info h2, .rental-records h2 {
    color: #333;
}

.user-info {
    display: flex;
    justify-content: space-between; /* 确保左右两部分分开 */
}
.profile-info {
    /* 根据需要调整 */
    flex: 1; /* 占据可用空间 */
}
.profile-actions {
    display: flex;
    flex-direction: column; /* 让按钮竖直排列 */
    align-items: flex-start; /* 对齐到起始边 */
    gap: 10px; /* 按钮之间的间距 */
}
.profile-actions input[type=submit] {
    width: 130px;
    padding: 10px; /* 添加内边距 */
    /*background-color: #4CAF50; !* 设置背景颜色 *!*/
    color: white; /* 设置文字颜色 */
    border: none; /* 移除边框 */
    border-radius: 5px; /* 添加圆角 */
    cursor: pointer; /* 设置光标样式为手型 */
    font-size: 16px; /* 设置文字大小 */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* 添加阴影效果 */

}
.profile-actions input[type=submit]:hover {
    background-color: #45a049;
    box-shadow: 0 6px 12px rgba(0, 0, 0.2, 0.2); /* 鼠标悬停时增加阴影效果 */
}
.form-button {
    margin-block-end: 0;

}

input[type=submit] {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    vertical-align: middle;
    transition: background-color 0.3s;
}

input[type=submit]:hover {
    background-color: #0056b3;
}


/* 表格样式 */
.rental-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
}

.rental-table th, .rental-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.rental-table th {
    background-color: #007bff;
    color: white;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    vertical-align: middle;
}

.table-header h2 {
    margin: 0; /* 或根据需要进行调整 */
}

#toggle-ongoing-btn {
    padding: 10px 20px;
    background-color: #999999;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#toggle-ongoing-btn:hover {
    background-color: #666666;
}

#toggle-completed-btn {
    padding: 10px 20px;
    background-color: #999999;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

#toggle-completed-btn:hover {
    background-color: #666666;
}

footer {
    /* 放在页面的底部 */
    position: relative;
    bottom: 0;
    height: 100px;
    width: 100%; /* 按钮宽度为100% */
    padding: 0; /* 移除内边距 */
    background-color: #28a745; /* 背景色 */

}

footer form {
    margin: 0; /* 移除form元素的默认外边距 */
}

.rent-car-container form {
    margin: 0;
    width: 100%;
}

.rent-car-container input[type=submit] {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%; /* 让按钮宽度占据整个容器 */
    padding: 20px; /* 调整按钮内边距以适应容器 */
    margin: 0; /* 移除按钮的外边距 */
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 2em;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
.rent-car-container input[type=submit]:hover {
    background-color: #999999;
    box-shadow: 0 6px 12px rgba(0, 0, 0.2, 0.2);
}

/*.rent-car-container input[type=submit]:hover {*/
/*    background-color: #0056b3;*/
/*}*/

.highlight {
    color: red;
    font-weight: bold;
}

.logout input[type=submit]{
    background-color: #999999;
    transition: background-color 0.3s;
/*    阴影*/
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}
.logout input[type=submit]:hover {
    background-color: #666666;
}
